@CHARSET "ISO-8859-1";

.navbar {
	margin-bottom: 0px;
}

.modalForm {
	margin: auto;
	width: 72%;
}

.modalForm > div {
	margin: 5px;
}
.forumViewRoomList {
	width: 100%;
	text-align: center;
}

.forumViewRoom {
	display: inline-block;
	width: 225px; 
	height:225px; 
	margin: 5px;
	text-align: left;
}

.forumViewRoomDescLine {
	margin-top: 23px;
}

.forumRoom {
	margin: auto;
    width: 380px;
    display: block;
}

.clickable {
	cursor: pointer;
}

#userProfileBtn {
	font-family: cursive;
	color:#00BCD4;
	
}

#userProfileBtn:HOVER {
	color:#ffffff;
}

.likeBtn {
	display: inline;
}

.clickable {
	cursor: pointer;
}

.centered {
	text-align: center;
}

.spaceBelow {
	margin-bottom: 20px;
}

.noticeMeText {
	font-weight: bolder;
	font-family: cursive;
	font-size: 1.2em;
}

.noticeMeTextSm {
	font-weight: bolder;
	font-family: cursive;
	font-style: italic;
}

.limitedText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.limitedTextBtn {
	max-width: 15em;
}

.limitedTextBtnSm {
	max-width: 13em;
}

.awesomeHr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));	
    margin-top   : 5px;
    margin-bottom: 5px;
}

.hrLgMargin {
	margin-top   : 100px;
    margin-bottom: 100px;
}

.hrSmMargin {
	margin-top   : 20px;
    margin-bottom: 20px;
}



#scroll {
	cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: 30px;
    position: fixed;
    top: -450px;
    left: 5%;
    transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    z-index: 21;
}

.scroll-sprite {
	background-image: url(../img/favicon.ico);
	background-repeat: no-repeat;
}

#scroll-bubble {
    background:#FFF;
    border-radius: 50px;
	color: #337ab7;
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight:bolder;
    font-family:cursive;
    line-height: 14px;
    opacity: 0;
    overflow: visible;
    padding: 5px;
    position: absolute;
    top: -42px;
    left: 20px;
    text-align: center;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    visibility: hidden;
    width: 60px;
    height: auto;
    z-index: 21;
}

#scroll:hover > #scroll-bubble, #scroll:hover > #scroll-bubble:after {
    opacity: 1;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    visibility: visible;
}